/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px;
        /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px;
        /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

img {
    max-width: 95vw;
    max-height: 95vh;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.note {
    width: 100%;
    height: 40px;
    background-color: rgba(234, 247, 247, 0.801);
    border-top: solid black 2px;
    padding-top: 20px;
    text-align: center;
}


/* ==NAVBAR */
/* top nav menu */
.topnav,
.topnav button {
    overflow: hidden;
    background-color: #333;
}

input {
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.flex-btn-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}

#submitBtn {
    background-color: #8ef475
}

#noteTitle {
    margin-top: 20px;
}

button {
    margin: 3px 0;
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 100px;
    font-size: 17px;
}

.topnav a,
.topnav button {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

button {
    border: none;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav button.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}